
.mainContainer{
    display:flex;
    align-items: center;
    width:100%;
    height:110px;
    background-color: black;
    color:white;
    position:relative;
}

.mainLogo {
    margin-left:50px;
}

.buttonContainer {
    display:flex;
    align-items: center;
    width:300px;
    font-size:30px;
    margin-left:100px;
    cursor:pointer;
    transition:0.5s;
}

.buttonContainerIcon {
    margin-right:20px;
    transform: scale(2);
    color:orange;
}

.buttonContainer:hover {
    color:#da846e;
}

.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
  /* color: #0087ca; */
}

.hoverUnderlineAnimation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #D68849;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hoverUnderlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.aboutProjectContainer{
    position:fixed;
    width:500px;
    height:auto;
    padding-bottom:20px;
    background-color: black;
    border-radius: 15px;
    border:1px solid orange;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index:100;
    top:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.closeIcon{
    position:absolute;
    top:13px;
    right:13px;
    transform:scale(1.6);
    color:orange;
    cursor:pointer;
    transition:0.5s;
}

.closeIcon:hover{
    color:rgb(255, 102, 0);
    color:#ffffff85;
}

.headerText{
    font-size:36px;
    margin-top:10px;
}

.aboutPanelText{
    font-size:20px;
    padding-right:10px;
    padding-left:10px;
}

.apiKeyContainer{
    border:1px orange solid;
    border-radius: 15px;
    padding:10px 10px 10px 10px;
}
